.container {
  flex: 2 0 0%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .selected {
    position: relative;
    width: 100%;
    flex: 1 0 0%;
    cursor: e-resize;

    img {
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .gallery {
    width: 100%;
    height: 8rem;
    display: flex;
    gap: 16px;

    .galleryItem {
      position: relative;
      height: 100%;
      aspect-ratio: 4/3;
      cursor: pointer;

      img {
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
}

.picModal {
  height: 95vh;
  aspect-ratio: 4/3;
  position: relative;

  img {
    object-fit: cover;
  }
}
