.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  height: calc(100vh - 12rem);

  h1 {
    color: white;
    font-size: 6rem;
    font-weight: 600;
  }

  p {
    color: white;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    p {
      &:first-child {
        font-size: 3rem;
      }
    }
  }

  button {
    color: white;
  }
}
