@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1c1c1c;
  --light: #505050;
  --lighter: #d3d3d3;
}

::-moz-selection {
  color: var(--dark);
  background: var(--lighter);
}

::selection {
  color: var(--dark);
  background: var(--lighter);
}
