.container {
  width: 100%;
  display: flex;
  position: relative;

  .linkContainer {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:last-child {
      padding-left: 4rem;
    }

    .link {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: white;
      font-size: 3rem;
      padding: 2rem 0.2rem;
    }
  }
}
