.skeleton {
  position: absolute;
  inset: 0;
  background-color: #a3a3a3;
  animation: oscillate 1.5s infinite;
}

@keyframes oscillate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
