$rounded: 20px;
$navbar_top_margin: 40px;
$navbar_z_index: 999;
$padding: 10px;

.navbar {
  position: fixed;
  z-index: $navbar_z_index;
  top: $navbar_top_margin;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(5px);
  border-radius: $rounded;

  .navList {
    background-color: #5050508c;
    backdrop-filter: blur(12px);
    border-radius: $rounded;
    display: flex;
    padding: $padding;
    position: relative;

    .navItem {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      color: var(--lighter);
      padding-inline: 1rem;
      padding-block: 0.75rem;
      cursor: pointer;

      position: relative;
      user-select: none;
    }
  }

  .activeIndicator {
    --left: 0.6rem;
    --width: 80px;
    position: absolute;
    height: calc(100% - calc(2 * $padding));
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    mix-blend-mode: difference;
    pointer-events: none;
    top: $padding;
    transition: 300ms;

    width: var(--width);
    transform: translateX(var(--left));
  }
}
