.footer {
  padding-inline: 1.5rem;
  width: 100%;

  .sections {
    display: flex;
    position: relative;

    .section {
      flex: 1 0 0%;
      color: white;
      position: relative;
      height: 10rem;
      display: flex;
      align-items: center;

      &:nth-child(3) {
        justify-content: center;
        display: none;
      }
      &:nth-child(4) {
        justify-content: flex-end;
      }
    }
  }

  .foot {
    padding-block: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media only screen and (min-width: 840px) {
  .footer {
    padding-inline: 6rem;
    .sections {
      .section {
        &:nth-child(3) {
          justify-content: center;
          display: flex;
        }
      }
    }
  }
}

@media only screen and (min-width: 1240px) {
  .footer {
    padding-inline: 12rem;
  }
}
