.work {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  position: relative;

  .banner {
    display: flex;
    width: 100%;
    font-size: 1rem;
    color: var(--lighter);
    position: relative;
    padding-block: 1.5rem;

    div {
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        flex: 3 3 0% !important;
      }
    }
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;

    div {
      flex: 1 1 0%;
    }

    .details {
      display: flex;
      flex-direction: column;

      p {
        font-size: 2rem;
        color: var(--lighter);
        font-weight: 500;
      }

      div {
        display: flex;
        align-items: flex-end;
      }
    }

    .imgContainer {
      position: relative;
      aspect-ratio: 5/3;

      img {
        border-radius: 20px;
      }
    }
  }
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 1rem;
  padding: 4rem 0;

  .tech {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    color: white;
    border-radius: 0.75rem;
    flex: 0 0 0% !important;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 840px) {
}

@media only screen and (min-width: 1240px) {
  .work {
    .banner {
      font-size: 1.5rem;
      padding-block: 1.5rem;

      div {
        flex: 1 1 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .detailsContainer {
      flex-direction: row;

      div {
        flex: 1 1 0%;
      }

      .details {
        display: flex;
        flex-direction: column;

        p {
          font-size: 3rem;
          color: white;
          font-weight: 600;
        }
        div {
          display: flex;
          align-items: flex-end;
        }
      }

      .imgContainer {
        position: relative;
        aspect-ratio: 5/3;

        img {
          border-radius: 20px;
        }
      }
    }
  }

  .techStack {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;

    .tech {
      padding: 1rem 1.2rem;
      border: 2px solid white;
      color: white;
      border-radius: 0.75rem;
      flex: 0 0 0% !important;
      font-size: 1.2rem;
    }
  }
}
